#dlib @ https://github.com/Sandeepkandula2004/Mini_Project/releases/download/v1.0.0/dlib-19.24.1-cp311-cp311-win_amd64.whl
dotenv==0.9.9
face-recognition
Flask==3.1.1
flask-cors==6.0.1
Flask-Mail==0.10.0
inference-sdk
mediapipe==0.10.14
numpy==1.26.4
opencv-python==4.10.0.84
pymongo==3.12.0
python-dotenv==1.1.1
gunicorn
dlib_bin @ https://github.com/Sandeepkandula2004/Mini_Project/releases/download/v2.0.0/dlib_bin-19.24.6-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl